.header{
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
    color: maroon;
    font-weight: 500;
}
.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.imageList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;   
}
.imageList li {
    flex-basis: 350px;
}